{% extends 'ptms/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-4">
        {% if form.errors %}<div class="alert alert-danger" role="alert">{{ form.errors }}</div>{% endif %}
        <h1>Project: {{ object }}</h1>
        <div class="col-md-8 pt-4">
            <h3>Log records</h3>
        </div>
        <div class="col-md-8 pt-2">
            {% for logline in log_records %}<pre>{{logline }}</pre>{% endfor %}
        </div>
        <div class="col-md-8 pt-4">
            <h3>Approve?</h3>
        </div>
        <div class="col-md-8 pt-2 px-3">{% crispy form %}</div>
    </main>
{% endblock content %}
