{% extends 'ptms/base.html' %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row pt-4">
            <h1>{{ object.name }}</h1>
        </div>
        <div class="row col-8 pt-2">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <tbody>
                        <tr>
                            <td scope="row">Project:</td>
                            <td scope="row">{{ object.project }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Test Family:</td>
                            <td scope="row">{{ object.test_family }}</td>
                        </tr>
                        {% if object.test_attr1 %}
                            <tr>
                                <td scope="row">Attribute#1:</td>
                                <td scope="row">{{ object.test_attr1 }}</td>
                            </tr>
                        {% endif %}
                        {% if object.test_attr2 %}
                            <tr>
                                <td scope="row">Attribute#2:</td>
                                <td scope="row">{{ object.test_attr2 }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td scope="row">Values:</td>
                            <td scope="row">
                                Expected = {{ object.expected_value }} {{ object.units }} (specs = [{{ object.lsl }}, {{ object.usl }}])
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Date created:</td>
                            <td scope="row">{{ object.date_created }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Date updated:</td>
                            <td scope="row">{{ object.date_updated }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Description:</td>
                            <td scope="row">{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Driving condition:</td>
                            <td scope="row">{{ object.driving_condition }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock content %}
