{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row col-lg-10 pt-4">
        <h1>Login</h1>
        <div class="row col-8 pt-2">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for k, error in form.errors.items %}{{ error }}{% endfor %}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form.username|as_crispy_field }}
                {{ form.password|as_crispy_field }}
                <button class="btn btn-primary btn-lg" type="submit">Login</button>
            </form>
        </div>
        <div class="row col-8 pt-4 px-2">
            <small><i>No account? Register <a href={% url 'accounts:signup' %}>here</a></i></small>
        </div>
    </div>
{% endblock %}
